<link rel="stylesheet" href="/css/cssadmin.css">
<div class="span9">
    <ul class="breadcrumb">
		<li><a>Trang Chủ</a> <span class="divider">/</span></li>
		<li class="active">ADMIN</li>
    </ul>
    </div>
   <label class="control-label" for="multiSelect">Chọn Chức Năng </label>
   <div class="controls">
              <div class="controls">
              <select class="span9" id="select11">
                <option>Quản Lý Sản Phẩm</option>
                <option>Kho Tài Khoản</option>
                 <option>Kho Phê Duyệt</option>
              </select>
            </div>
</div>
<div class="span6">
		<table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Người Đăng </th>
            <th>Sản Phẩm </th>
            <th>Giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Đia chị : </td>
            <td>Số lượng :</td>
            <td>Số điện thoại :</td>
            <td><span class="label-info"><input type="submit" name="" id="" value="v"><span class="label-important">

  <input type="button" name="" id="" value="x"></span></td></span>
          </tr>
        </tbody>
      </table>
	</div>