<link rel="stylesheet" href="/css/cssadmin.css">
<div class="span9">
    <ul class="breadcrumb">
		<li><a>Trang Chủ</a> <span class="divider">/</span></li>
		<li class="active">Quản lí Phê Duyệt</li>
    </ul>
    </div>
   <label class="control-label" for="multiSelect">Chọn Chức Năng </label>
   <div class="controls">
              <div class="controls">
              <select class="span9" id="select11">
                  <option>Quản lí Phê Duyệt</option>
                <option>Đăng Tạo Viết</option>
                <option>Quản Lí Họ Hàng</option>
                <option>Quản Lý Tố Cáo</option>
                <option>Chặn Người Dùng</option>
                <option>5</option>
              </select>
            </div>
</div>
<div id="div1">
<div class="span6">
		<table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên Sản Phẩm </th>
            <th>Số Lượng Bán </th>
            <th>Giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 </td>
            <td>Like </td>
            <td>Cmt</td>
            <td>Đến Trạng Đó</td>
          </tr>
          <tr>
           <td>Đánh Giá : </td>
            <td>Like </td>
            <td>Cmt</td>
            <td>Đến Trạng Đó </td>
          </tr>
          <tr>
           <td>Tính Trạng : </td>
           <td>Tiền Thuế  : </td> 
             <td>Kho Còn lại : </td>
              <td>Tính Trạng hiện Tại : </td> 
          </tr>
        </tbody>
      </table>
	</div>
    </div>