<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Thành viên</title>
</head>
<body>
    <div class="login-creact">
        <h1>Thêm Thành Viên</h1>
       <div class="control-group">
        <form action="/okey" method="POST">
            <label class="control-label" for="input13">Login</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input13" name="Username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="input13" >Password</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input13" name="Password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select11"name="Rank" >Thêm Rank:</label>
            <div class="controls">
              <select class="span9" id="select11 "name="Rank">
                <option>Thêm Rank:</option>
                <option>Khách Hàng</option>
                <option>Nhà Bán Hàng</option>
                <option>ADMIN</option>
                <option>Trải Nghiệm</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="creactproduct">Thêm </button>
          </form>
    </div>
</body>
</html>