<form action="store" method="POST">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="type" class="form-control" placeholder="name" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="pwd">url:</label>
    <input type="text" class="form-control" placeholder="url" id="url" name="url">
  </div>
  <div class="form-group">
    <label for="pwd">img:</label>
    <input type="text" class="form-control" placeholder="img" id="img" name="img">
  </div>
  <div class="form-group">
    <label for="pwd">passwork:</label>
    <input type="text" class="form-control" placeholder="passwork" id="passwork" name="passwork">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>