<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="/css/indexs.css">
<script src="javascpit/hello.js">
</script>
<style>
	
</style>
<script id="_wau1f6">var _wau = _wau || []; _wau.push(["classic", "6g4hk7xhlx", "1f6"]);</script><script async src="//waust.at/c.js"></script>
<body>
	<audio  autoplay>
    <source src="/mp3/sms.mp3">
</audio>
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span6" id="username">Xin Chào !  <strong>{{usernames.FirstName}} <span>{{usernames.LastName}}</span> --  Rank:{{usernames.rank}}</strong></div>
	<div class="span6">
	<div class="pull-right">
</ul>
<a href="/AccountSettings"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Cài Đặt Tài Khoản</span> </a>
<a href="/menu/quanao"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Quần áo </span> </a> 
<a href="/menu/ruu"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Rượu </span> </a> 
<a href="/menu/anvat"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Ăn vặt </span> </a> 
<a href="/menu/chatnhom"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Chat nhóm </span> </a>
<a href="/menu/khoahoc"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Khóa Học </span> </a>
<a href="/menu/gamenongtrai"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Game Nông Trai </span> </a>
		<a href="#pusd"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Thông Báo </span> </a> 
		<div class="thanhthongbao">
			<div class="toast">
  <div class="toast-header">
    <h5>Thông Báo Mới Nhất</h5> 
  </div>
  <div class="toast-body">
<div class="media">
  <img class="span3" src="..." alt="Generic placeholder image">
  <div class="media-body">
    <p class="mt-0">Media heading</p>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>
<div class="offtoast-headed">
	<button>Tắt Thông Báo</button>
</div>
  </div>
</div>
		</div>
		<a href="/warehouse"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 0 ] Hàng Trong kho </span> </a> 
	</div>
	</div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="index.html"><img src="/images/logo.png"  alt="Bootsshop"/></a>
		<form class="form-inline navbar-search" method="get" action="/search" >
		<input id="srchFld" class="srchTxt" type="text"/ placeholder="Tìm Kiếm Trên 78Shop" name="Timkiem">
		<span id="srchFld"></span>
		  <select class="srchTxt">
			<option>Chọn Nơi Bán Hàng</option>
			<option>CLOTHES </option>
			<option>FOOD AND BEVERAGES </option>
			<option>HEALTH & BEAUTY </option>
			<option>SPORTS & LEISURE </option>
			<option>BOOKS & ENTERTAINMENTS </option>
		</select> 
		  <button type="submit" id="submitButton" class="btn btn-primary">Tìm Kiếm</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
	 <li class=""><a href="/menu?page=1">Hàng ở Sông Hình</a></li>
	 <li class=""><a href="/menu/nuocngoai?page=1">Hàng ở quốc gia Khác</a></li>
	 <li class=""><a href="/menu/trongnuoc?page=1">Hàng của các công ty lớn</a></li>
	 <li class="">
	 <a href="login/dangky"  style="padding-right:0" class="btn btn-large btn-success">Đăng Nhập / Đăng Ký</a>
	<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Login Block</h3>
		  </div>
		  <div class="modal-body">
			<form class="form-horizontal loginFrm">
			  <div class="control-group">								
				<input type="text" id="inputEmail" placeholder="Email">
			  </div>
			  <div class="control-group">
				<input type="password" id="inputPassword" placeholder="Password">
			  </div>
			  <div class="control-group">
				<label class="checkbox">
				<input type="checkbox"> Remember me
				</label>
			  </div>
			</form>		
			<button type="submit" class="btn btn-success">Sign in</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<a href="/dangky" class="btn" data-dismiss="modal" aria-hidden="true">Đăng ký</a>
		  </div>
	</div>
	</li>
    </ul>
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->

<script>
	
localStorage.setItem('myFirstKey', 'myFirstValue')
</script>
</body>
</html>